.jumpy {
    color: #0f71b3;
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jumpy:hover {
    animation: text-shadow 2s infinite ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

@keyframes text-shadow {
    0% {
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }

    50% {
        text-shadow:
            0 0.006em 0 #0c2ffb,
            0 0.25em 0 #2cfcfd,
            0 -0.006em 0 #fb203b,
            0 -0.25em 0 #fefc4b;
    }

    100% {
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }
}
.inline {
    display: inline-block;
}

.trick {
    display: inline-block;
    text-decoration: underline dotted;
}

.trick:hover span {
    display: none;
}

.trick:hover::before {
    content: 'Ethereum';
}

.ul-hover:hover {
    text-decoration: underline;
}